<% layout('layouts/boilerplate')%>

<a href="/campgrounds/new" class="btn btn-info">Add Campground</a>

<div class="container">
  <% for(let chunk of out) {%>
  <div class="row">
    <% for(let camp of chunk){ %>
    <div class="col-md-3 mt-1 mb-1">
      <div class="card" style="width: 18rem">
        <img src="<%= camp.image %> " class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title"><%=camp.title%>, <%= camp.location %></h5>
          <div class="row">
            <div class="col text-center">
              <a href="/campgrounds/<%= camp._id %> " class="btn btn-primary"
                >Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
