<% layout('layouts/boilerplate')%>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary">
    <a href="/campgrounds/new">Add Campground</a>
  </button>
</div>

<div class="container">
  <% for(let chunk of out) {%>
  <div class="row">
    <% for(let camp of chunk){ %>
    <div class="col-md-3 mt-1 mb-1">
      <div class="card" style="width: 18rem">
        <img src="<%= camp.image %> " class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title"><%=camp.title%>, <%= camp.location %></h5>
          <a href="/campgrounds/<%= camp._id %> " class="btn btn-primary"
            >Check it out</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
